@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This project relies heavily on Razor engine syntax, HTML, C#, ASP.NET MVC structure but still simple enough for a basic remote control application.</p>
<p>It uses a simple integer pattern to send signal codes on the backend hooked on switch case methods to start or stop a process.</p>
