@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-color: lavender">
    <h2>Web Control Project</h2>
    <p>A Simple Remote Control Project Using ASP.NET MVC Framework. </p>
    <div class=" lead">
        <ul>
        <li>
            <p>You can use it as a general purpose I/O control exerciser.</p>
        </li>
        <li>
            <p>As a basic bare-bones remote control and monitoring framework.</p>
        </li>
        <li>
            <p>As a basic test debugging framework.</p>
        </li>
        </ul>
    </div>
    <p class="lead">A basic knowledge of C#, ASP.NET MVC, Razor view engine, HTML and HTTP is all you need to start customizing  this application.</p>
    <p class="lead">To use your mobile device or other PC to access the web app during development, follow this <a href="https://gilesey.wordpress.com/2013/04/21/allowing-remote-access-to-your-iis-express-service/">excellent procedure from Giles Middleton</a>.</p>
    <p class="lead">To start/stop any process, DLL methods, .NET libraries or executable script, check the basic sample from "SimpleProcessControl" class located under the Model folder.</p>
    <p class="lead"> You can also directly place it as a file path from the "ControlProcess" switch methods located from the Lib folder.</p>  
</div>
